name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Grant execution permission for gradlew
        run: chmod +x gradlew

      - name: Start SUT
        run: java -Dspring.profiles.active=test -jar artifacts/app-ibank.jar &

      - name: Wait for SUT to start
        run: sleep 10

      - name: Build with Gradle (run tests)
        run: ./gradlew test -Dselenide.headless=true --info