name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Start SUT
        run: |
          # Запускаем SUT в фоне
          nohup java -Dspring.profiles.active=test -jar ./artifacts/app-ibank.jar > sut.log 2>&1 &
          # Ждём, пока SUT реально поднимется на 9999 порту
          for i in {1..40}; do
            if curl -s http://localhost:9999 > /dev/null; then
              echo "SUT is up"
              break
            fi
            echo "Waiting for SUT on port 9999..."
            sleep 1
          done

      - name: Run tests
        run: ./gradlew test -Dselenide.headless=true --info