name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Start SUT
        run: java -Dspring.profiles.active=test -jar artifacts/app-ibank.jar &

        # ждём, чтобы сервис поднялся
      - name: Wait for SUT
        run: sleep 15

      - name: Run tests with Gradle
        run: ./gradlew test -Dselenide.headless=true --info